.inputAuth {
  box-sizing: border-box;
    width: 100%;
    height: 50px;
    background: #FFFFFF;
    border: 1px solid #E2E5ED;
    border-radius: 4px;
    padding-left: 20px;
}

.input-form {
  width: 100%;
  height: 50px;
  padding: 12px;
  box-sizing: border-box;
  margin-bottom: 22px;
  border: 1px solid #9b9b9b;
  filter: drop-shadow(0px 1px 8px rgba(0, 0, 0, 0.05));
  border-radius: 4px;
  /* position: relative; */
  box-sizing: border-box;
  width: 100%;
  height: 50px;
  background: #ffffff;
  border: 1px solid #e2e5ed;
  border-radius: 4px;
  padding-left: 20px;
}

.inputAuth:focus,
.inputAuth:hover,
.inputAuth:active {
  -webkit-box-shadow: none;
  box-shadow: none;
  outline: none;
}

.input-form:focus,
.input-form:hover,
.input-form:active {
  -webkit-box-shadow: none;
  box-shadow: none;
  outline: none;
}

.input-search {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  display: flex;
  align-items: center;
  color: #9b9b9b;
  margin-bottom: 10px;
  padding-left: 20px !important;
  border: none;
}

.input-search:focus,
.input-search:hover,
.input-search:active {
  -webkit-box-shadow: none;
  box-shadow: none;
  outline: none;
}
.inputSearch {
  width: 100%;
  height: 100%;
  border: none;
}

.inputSearch:focus,
.inputSearch:hover,
.inputSearch:active {
  -webkit-box-shadow: none;
  box-shadow: none;
  outline: none;
}
/* .inputSearch::after{
    font-family: fontAwesome;
    content: "\f002";
  
  } */
