.inputAuth {
    box-sizing: border-box;
    width: 100%;
    height: 50px;
    background: #FFFFFF;
    border: 1px solid #E2E5ED;
    border-radius: 4px;
    padding-left: 20px;
}

.inputAuth:focus,
.inputAuth:hover,
.inputAuth:active {
    -webkit-box-shadow: none;
    box-shadow: none;
    outline: none;
}
