.bg_image {
  height: 200px;
  background-color: #5e50a1;
}

.btnInput {
  position: absolute;
  top: 150px;
  right: 100px;
  background-color: #5e50a1;
  border: none;
  color: white;
}

.ava {
  position: absolute;
  top: -70px;
}

.frame {
  width: 15%;
}

.profileImage {
  border-radius: 50%;
}

.dt_profile {
  margin-top: 50px;
}
.portfolioName {
  margin-left: 50px;
}

.shadow {
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

.skill {
  background-color: #fbb01799;
  border-radius: 4px;
  color: white;
  font-weight: 600;
  padding: 2px;
}

.porto {
  position: relative;
}

.delete {
  position: absolute;
  right: 12px;
  top: -27px;
  background-color: #fbb01799;
  color: gray;
  border-radius: 5px;
  padding: 2px;
}
