.bg_image {
  height: 200px;
  background-color: #5e50a1;
}

.btnInput {
  position: absolute;
  top: 150px;
  right: 100px;
  background-color: #5e50a1;
  border: none;
  color: white;
}

.ava {
  position: absolute;
  top: -70px;
}

.frame {
  width: 15%;
}

.profileImage {
  border-radius: 50%;
}

.dt_profile {
  margin-top: 50px;
}

.portfolioName {
  margin-left: 50px;
}
