.cards {
    margin-top: 85px;
    width: 270px;
    height: 270px;
    background: #FFFFFF;
    border-radius: 4px;
}

.card-body {
    width: 208px;
    height: 230px;
    padding: 20px 0px 0px 23px;
    
}

.imgproduct {
    height: 100%;
    width: 100%;
    /* height: 150px;
    width: 208px; */
    object-fit: cover;

}

.img-div {
    width: 86px;
    height: 86px;
    border-radius: 4px;

}