.main {
  height: 100%;
  width: 100vw;
  /* background: #f6f7f8; */
  background-color: #e7e7e7;
}

.head {
  width: 100%;
  height: 100px;
  background: #5e50a1;
}

.head-title {
  /* width: 117px;
    height: 20px; */
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 28px;
  color: #ffffff;
  padding: 33px 1173px 33px 150px;
}

.search-bar {
  width: 100%;
  height: 70px;
  background: #ffffff;
  box-shadow: 0px 1px 20px rgba(197, 197, 197, 0.25);
  border-radius: 8px;
  margin-top: 50px;
  padding-left: 20px;
  padding-right: 20px;
  border: none;
  display: flex;
  padding-top: 6px;
  padding-bottom: 6px;
}

.search-div {
  position: relative;
  height: 100%;
  width: 75%;
}

.search-div i {
  position: absolute;
  top: 20px;
  right: 20px;
  color: #9ea0a5;
  font-size: 24px;
  font-weight: 12px;
}

.vertical-line {
  border-left: 1px solid #9ea0a5;
  height: 100%;
}

.search-sort {
  display: flex;
  height: 100%;
  width: 25%;
  gap: 35px;
}

@media only screen and (max-width: 500px) {
  .search-bar {
    width: 50%;
  }

  .search-sort {
    width: 10%;
  }
}
