.btnMasuk {
  font-family: "Open Sans";
  background: #ffffff;
  border: 1px solid #5e50a1;
  border-radius: 4px;
  color: #5e50a1;
  font-weight: 700;
  width: 87px;
  height: 44px;
  margin-right: 10px;
}

.btnDaftar {
  width: 87px;
  height: 44px;
  background: #5e50a1;
  border-radius: 4px;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  color: #ffffff;
  border: none;
}

.btnMulai {
  background: #5e50a1;
  border-radius: 4px;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  color: #ffffff;
  border: none;
  padding: 15px;
}

.btnMulai2 {
  height: 63px;
  position: absolute;
  left: 70.35%;
  right: 15.07%;
  top: 60.33%;
  bottom: 16.9%;
  background: #ffffff;
  border-radius: 4px;
  color: #796eaf;
  border: none;
}

.btnAva {
  background-color: white;
  border: none;
}

.btnAva img {
  border-radius: 50%;
  object-fit: cover;
}

.btnHire {
  width: 297px;
  height: 50px;
  background: #5e50a1;
  border-radius: 4px;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  color: #ffffff;
  border: none;
  margin-top: 20px;
}

.btnSkill {
  background-color: #fbb01799;
  color: #ffffff;
  border: 1px solid #fbb017;
  border-radius: 4px;
}

.marginBtnSkill {
  margin-left: 10px;
  margin-top: 10px;
}
.btn-auth {
  width: 100%;
  height: 50px;
  background: #fbb017;
  border-radius: 4px;
  border: none;
  margin-top: 55px;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
}

.btn-search {
  width: 100%;
  height: 100%;
  background: #5e50a1;
  border-radius: 4px;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  text-align: center;
  color: #ffffff;
  border: none;
}
