.btn-auth {
    background: #DB3022;
    border-radius: 25px;
    height: 48px;
    width: 401px;
    border: none;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #FFFFFF;
    justify-content: center;
    margin-bottom: 40px;
    cursor: pointer;
}

.btn-active {
    background: #DB3022;
    box-shadow: 0px 1px 8px rgba(0, 0, 0, 0.05);
    border-radius: 4px 0px 0px 4px;
    height: 48px;
    width: 123px;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #FFFFFF;
    cursor: pointer;
    border: none;
}

.btn-inactive {
    border: 1px solid #9B9B9B;
    filter: drop-shadow(0px 1px 8px rgba(0, 0, 0, 0.05));
    border-radius: 0px 4px 4px 0px;
    height: 48px;
    width: 123px;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    display: flex;
    align-items: center;
    color: #9B9B9B;
    justify-content: center;
    cursor: pointer;
}

.btn-inactiveSell {
    border: 1px solid #9B9B9B;
    filter: drop-shadow(0px 1px 8px rgba(0, 0, 0, 0.05));
    border-radius: 4px 0px 0px 4px;
    height: 48px;
    width: 110px;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #9B9B9B;
    cursor: pointer;
}

.btn-activeSell {
    background: #DB3022;
    box-shadow: 0px 1px 8px rgba(0, 0, 0, 0.05);
    border-radius: 0px 4px 4px 0px;
    height: 48px;
    width: 123px;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    display: flex;
    align-items: center;
    color: #FFFFFF;
    justify-content: center;
    cursor: pointer;
    border: none;
}

.btn-login {
    background: #DB3022;
    border-radius: 25px;
    height: 48px;
    width: 401px;
    border: none;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #FFFFFF;
    justify-content: center;
    margin-bottom: 40px;
    cursor: pointer;
}

.btn-login-nav{
    height: 36px;
    width: 100px;
    border-radius: 25px;
    background: #DB3022;
    border-radius: 25px;
    height: 36px;
    border-radius: 25px;
    border: none;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    color: #FFFFFF;
    margin-right: 20px;
}

.btn-signup-nav{
    height: 36px;
    width: 100px;
    border-radius: 25px;
    background: #FFFFFF;
    border-radius: 25px;
    height: 36px;
    border-radius: 25px;
    border: solid 1px #9B9B9B;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    color: #9B9B9B;
    margin-right: 20px;
}

.btn-buy {
    height: 36px;
    width: 322px;
    border-radius: 25px;
    background: #DB3022;
    margin-top: 35px;
    border: none;
    cursor: pointer;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    align-items: center;
    text-align: center;
    margin-left: 20%;
    color: #FFFFFF;
}

.btn-sell{
    border-radius: 20px;
    background-color: #DB3022;
    width: 100px;
    color: #fff;
    margin-left: 150px;
    border: none;
}

.btn-delete{
    border-radius: 20px;
    background-color: #DB3022;
    width: 100px;
    color: #fff;
    margin-left: 150px;
    border: none;
    align-content: center;
}